
<!doctype html>
<html lang="en">
  <head>
    <title> Hall Finder </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee:200,300,400|Playfair+Display:400,700" rel="stylesheet">
                               
    <link rel="stylesheet" href="~/Home/css/bootstrap.css">
    <link rel="stylesheet" href="~/Home/css/animate.css">
    <link rel="stylesheet" href="~/Home/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Home/css/aos.css">
                                       
    <link rel="stylesheet" href="~/Home/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Home/fonts/fontawesome/css/font-awesome.min.css">
    <!-- Theme Style -->
    <link rel="stylesheet" href="~/Home/css/style.css">
  </head>
  <body>
    
    <header class="site-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-4 site-logo" data-aos="fade"><a href="index.html"><em> Hall Finder </em></a></div>
          <div class="col-8">


            <div class="site-menu-toggle js-site-menu-toggle"  data-aos="fade">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <!-- END menu-toggle -->

            <div class="site-navbar js-site-navbar">
              <nav role="navigation">
                <div class="container">
                  <div class="row full-height align-items-center">
                    <div class="col-md-6">
                      <ul class="list-unstyled menu">
                        <li @*class="active"*@><a asp-controller="Home" asp-action="Index" >Home</a></li>
                           <li><a asp-controller="User0" asp-action="UserProfile" >My Profile</a></li>
                           <li><a asp-controller="AuthController1" asp-action="Login" >Log in</a></li>
                        <li><a asp-controller="AuthController1" asp-area="MicrosoftIdentity" asp-action="Logout" >Logout</a></li>
                        <li><a asp-controller="Halls" asp-action="Index" >Halls</a></li>
                        <li><a asp-controller="Home" asp-action="AboutUs">About</a></li>

                        <li><a asp-controller="Home" asp-action="Contacts">Contact</a></li>
                      </ul>
                    </div>
                    <div class="col-md-6 extra-info">
                      <div class="row">
                        <div class="col-md-6 mb-5">
                          <h3>Contact Info</h3>

                          <p>suzasn.gh99@gmail.com</p>
                          <p>00962 791190830</p>
                          
                        </div>
                        <div class="col-md-6">
                          <h3>Connect With Us</h3>
                          <ul class="list-unstyled">
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>

    



        @RenderBody()
    
  
    
    <script src="~/Home/js/jquery-3.2.1.min.js"></script>
    <script src="~/Home/js/popper.min.js"></script>
    <script src="~/Home/js/bootstrap.min.js"></script>
    <script src="~/Home/js/owl.carousel.min.js"></script>
    <!-- <script ~/Home/src="js/jquery.waypoints.min.js"></script> -->
    <script src="~/Home/js/aos.js"></script>
    <script src="~/Home/js/main.js"></script>



    @RenderSection("scripts", required: false)



  </body>
</html>