@model HallBookingProject.Models.JoinTables

@{
    ViewData["Title"] = "Create";
    Layout = null;
}




<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       @*     <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="reservation.StartEvent" class="control-label"></label>
                <input asp-for="reservation.StartEvent" class="form-control" />
                <span asp-validation-for="reservation.StartEvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reservation.EndEvent" class="control-label"></label>
                <input asp-for="reservation.EndEvent" class="form-control" />
                <span asp-validation-for="reservation.EndEvent" class="text-danger"></span>
            </div>
           @* <div class="form-group" >
                <label asp-for="reservation.Hallid" class="control-label"></label>
                <select asp-for="reservation.Hallid" class ="form-control" asp-items="ViewBag.Hallid"> </select>
            </div>
         <div class="form-group">
                <label asp-for="reservation.Userid" class="control-label"></label>
                <select asp-for="reservation.Userid" class ="form-control" asp-items="ViewBag.Userid"></select>
            </div>
    <div class="form-group">
                <label asp-for="reservation.Payid" class="control-label"></label>
                <select asp-for="reservation.Payid" class ="form-control" asp-items="ViewBag.Payid"></select>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"  />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" >">Back to List</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
