@*@model IEnumerable<HallBookingProject.Models.Categoryy>*@
@*@model IEnumerable<User0>
*@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@{
    var name = ViewBag.id;
}

                     
   <h1> @name </h1>

        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Dashboard</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">@ViewBag.adminId <a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Library
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Sales Cards  -->
          <!-- ============================================================== -->
          <div class="row">
           
           
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-warning text-center">
                     <a asp-controller="Halls" asp-action="Index" >
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-blur-linear"></i>
                  </h1>
                  <h6 class="text-white"> View Halls </h6>
                   </a>
                </div>
              </div>
            </div>
           
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-danger text-center">
                     <a asp-controller="Reservations" asp-action="Index" >
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-border-outside"></i>
                  </h1>
                  <h6 class="text-white">Reservations</h6>
                   </a>
                </div>
              </div>
            </div>
   
            <!-- Column -->
         
            <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                     <a asp-controller="User0" asp-action="Index" >
                <div class="box bg-cyan text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-face"></i>
                  </h1>
                  <h6 class="text-white">@*Total of the Users : @ViewBag.Users*@ View Users </h6>
                </div>
                            </a>

              </div>
            </div>

          </div>
          <!-- ============================================================== -->
          <!-- Sales chart -->
          <!-- ============================================================== -->
          <div class="row">
              <br />
              <br />
                  <h3 class="text-white">Charts between and Reservition </h3>
                  <br />
               <div class="col-md-9">

              <div>
                <canvas id="myChart"></canvas>
              </div>

              </div>



@*            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="d-md-flex align-items-center">
                    <div>
                      <h4 class="card-title">Site Analysis</h4>
                      <h5 class="card-subtitle">Overview of Latest Month</h5>
                    </div>
                  </div>



                  <div class="row">
                    <!-- column -->
                    <div class="col-lg-9">
                      <div class="flot-chart">
                        <div
                          class="flot-chart-content"
                          id="flot-line-chart"
                        ></div>
                      </div>
                    </div>
             
                    <!-- column -->
                  </div>
                </div>
              </div>
            </div>*@
          </div>
          <!-- ============================================================== -->
          <!-- Sales chart -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Recent comment and chats -->
          <!-- ============================================================== -->

                      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

          <script>
  


     var x = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.hallName));
      var y = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Count));

  const data = {
    labels:x,
    datasets: [{
      label: 'My First dataset',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data:  y,
    }]
  };

  const config = {
    type: 'bar',
    data: data,
    options: {}
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

