
@model User0
@{
    Layout = "~/views/shared/_AdminLayout.cshtml";
}

@{
     var Apic = ViewBag.AdminPic;  
    var Id = ViewBag.UserId;
}

 

  <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
   
            </div>
            <div class="col-md-10">
              <div class="card card-profile">
                
                <div class="card-avatar">
                  <a href="javascript:;">
                  </a>
                </div>
                <div class="card-body">
                   <br /> <br />
                   <h4 class="card-category text-gray"> Admin Profile </h4>
                   <br />
                     <img src="@Url.Content("~/Image/"+Model.ProfilePic)" alt="avatar" width="150" height="150" style="border-radius:50%" />

                  <h4 class="card-title">@Model.Fname @Model.Lname </h4>
              
          
                   <p class="card-description">
                  Thank you for your effort in Mange th Website
                  </p>
                  <a style="color:crimson" class="dropdown-item" href="/User0/Edit/@Id"> Click HERE ! .. To Update your Profile !</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>